<div class="row">

  <div class="col-xs-12 col-sm-6">

    <ul class="list-group">

      <li class="list-group-item" *ngFor="let todo of todos">
        <span></span>
        {{ todo.name || '&nbsp;'}}
        <div> <a [routerLink]="['/viewdetail', todo.id]">View Todos</a> </div>


      </li>

    </ul>

  </div>

  <div class="col-xs-12 col-sm-6" id="my-todo-detail">
    <div class="well" *ngIf="active">
      <app-todo-editor [(todo)]="active"></app-todo-editor>
    </div>

    <div class="well" *ngIf="!active">
      Select a todo or create a new one!
    </div>
  </div>
</div>

<div>
    <router-outlet></router-outlet>
</div>